# Project directories
**/Kling 2.1/
**/Kling 1.6/
**/CL I2V/
**/Nano Banana/
**/Vidu/
**/Wan2.2_vs_Kling/
**/Report/
**/auto_report/
**/ID problem/
**/Wan2.2 vs. Kling/
**/Runway/
**/GenVideo/
**/Pixverse/

# File types
**/*.mp4
**/*.log
**/*.pyc

# System files
**/.DS_Store
**/__pycache__/
