**/Kling 2.1/
**/Kling 1.6/
**/CL I2V/
**/Nano Banana/
**/Vidu/
**/Wan2.2_vs_Kling/
**/Report/
**/*.mp4
**/*.log
**/*.DS_Store
**/.DS_Store
**/*.log
**/__pycache__/
**/*.pyc
**/auto_report/
**/ID problem/
**/Wan2.2 vs. Kling/
.DS_Store
